.container {
  flex-direction: column;
  display: flex;
}

.content {
  width: 80%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.appear {
  font-weight: 400;
  color: gray;
}

.searchInput {
  margin: 10px auto;
  padding: 5px 10px;
  border: 2px solid gray;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .content {
    margin: 20px auto;
  }
  .note .iconsDiv {
    display: flex;
  }
  .iconsDiv .pallete .colorDiv {
    flex-direction: column;
  }
}
